[2017-02-01 10:38] serebro opened #2 "Class cannot be invoked without 'new' for target ES6 of compilerOptions"
Hi Thiago,

When i tried to run this code with target `es6` of compilerOptions I got the error `TypeError: Class constructor SimppleInject cannot be invoked without 'new'`

[code]

I use typescript 2.1.5.

tsconfig.json
[code]

Thanks for your IoC!

[2017-02-01 19:39] thiagobustamante commented on #2
Hi,

Thanks for your feedback.
I did not tested it with target ES6 yet.
But I will fix this as soon as possible.

[2017-02-10 16:36] SilentSpammer opened #3 "Avoid your own Map<T>"
What about native `Map<T>` class? ([typescript-ioc.ts#L229](https://github.com/thiagobustamante/typescript-ioc/blob/5bbbe8b492423d025c7b158fc253d328c619b879/src/typescript-ioc.ts#L229))

Now you have string representation of constructors as key... It is not good, I guess...

[2017-02-23 14:19] #3 closed

[2017-04-13 17:21] thiagobustamante commented on #2
It is fixed on 0.2.8 version

[2017-04-13 19:38] serebro commented on #2
Very cool! Thanks.

[2017-04-13 21:57] thiagobustamante commented on #2
Sorry, but I found another problem related.

with ES5,  I can do this, when creating an object inside the container:
[code]

Note that I apply all class injections before run the class constructor (the target on the given code).

This is nice because it allow me to write things like:

[code]
I can access the injected property test2 inside the constructor.

The problem is: ES6 classes does not allo

[2017-04-20 13:55] #2 closed

[2017-04-20 14:11] thiagobustamante commented on #2
I found a new solution.

I dont't apply the injections inside a modified constructor anymore.

I changed the ```@Inject``` annotation to modify the class prototype to handle these injections as a class property. So, now I have a get and set functions to handle injected properties. It solves the es6 problem (as I don't need to change the constructor anymore) and has a very nice side effect: It incr

[2017-05-03 13:24] samuelcardoso opened #5 "Injection not working inside a constructor"
[code]

myObject is undefined.

[2017-05-10 12:06] thiagobustamante commented on #5
I known @samuelcardoso, and we debugged this issue in his computer. The problem was related to a bug in typescript-rest dependency control.  To ensure that this behavior is working fine here, I also include a test case [here](https://github.com/thiagobustamante/typescript-ioc/commit/059a0ee613738c18fd1018028025b3d605ac357c).

[2017-05-10 12:06] #5 closed

[2017-05-16 05:42] drwatson1 opened #6 "Uncaught TypeError: fs.existsSync is not a function in browser"
I've got an error "Uncaught TypeError: fs.existsSync is not a function" in Chrome.

Steps to reproduce:

1. Create app
[code]

2. Add this to tsconfig.json:

[code]

All other options leave as they are.

3. Add code to src/index.tsx

[code]

4. See a blank page and get an error: "Uncaught TypeError: fs.existsSync is not a function" in console

May be I should do anything else to make this work?

P

[2017-05-16 13:37] thiagobustamante commented on #6
Hi,

The problem is that we delivery two compilations of the ioc library: one that output ES6 code and other that output ES5. It was necessary due to the particularities of the class syntax in ES6 (see this [issue](https://github.com/thiagobustamante/typescript-ioc/issues/2)).

So, we choose which version of the library should be imported(es5 or es6) based on a configuration property (useES6: true

[2017-05-16 13:46] #6 closed

[2017-05-16 13:56] thiagobustamante commented on #6
I published the 0.4.1 version to fix this issue. Please update typescript-ioc.

[2017-05-17 07:31] drwatson1 commented on #6
It's works now. Great job! Thanx a lot!

[2017-05-25 09:57] drwatson1 opened #7 "Production build ends with error: SyntaxError: Unexpected token: name (isBrowser)"
Steps to reproduce are the same as I described some time ago in issue #6  from step 1 to 3.
After that run this in command line:
``` npm run build```
and you'll get an error:
[code]

[2017-05-29 13:41] thiagobustamante commented on #7
I tried the steps and I received another similar error message:

[code]

I could not identify what is exactly the problem, but it looks related to some UglifyJS task when analysing ES6 syntax.

I forced the usage of ES5 versions and the error disappeared to me.

[code]
It works, once the generated project uses ```"target": "es5",``` on tsconfig.json.

[2017-06-15 07:49] drwatson1 commented on #7
I found [this](https://github.com/facebookincubator/create-react-app/issues/1418#issuecomment-274131392) answer from create-react-app contributor. External dependencies with es6 syntax is not supported. Thus I think it is not your issue and you can close it.

[2017-06-15 07:55] drwatson1 opened #8 "index.js should use var instead of let and const"
As I can understand index.js intended to be used in both es5 and es6.
If so, you can't use let and const there because they were introduced in es6 only.

[2017-06-15 11:12] #7 closed

[2017-06-15 11:20] #8 closed

[2017-06-15 11:21] thiagobustamante commented on #8
Ops. You're right. I forgot it is a .js file, instead of .ts

[2017-06-15 11:33] thiagobustamante commented on #8
Fixed in release 0.4.2

[2017-06-24 18:14] nilobarp opened #10 "override Container.bind()"
Is there a way to override the bound types? For example:
[code]
Currently I am not able to bind `AnotherMockGuard`; `Container.get(AuthGuard)` returns `MockGuard`

[2017-06-26 14:46] thiagobustamante commented on #10
It was designed to support it. I will take a look now.

[2017-06-26 14:59] thiagobustamante commented on #10
I am trying to reproduce it. I added a [test case](https://github.com/thiagobustamante/typescript-ioc/commit/eddee57f79cf6b5a06d8462e7fdd34087eac8c48), but my test is not failing. It is working as expected.

Please, can you provide me your failing code to help to reproduce the problem?

[2017-06-29 16:01] nilobarp commented on #10
Must have done something unusual. It works just as shown by your tests.

[2017-06-29 16:01] #10 closed

[2017-07-14 08:01] mamingzhi commented on #10
Hi  @thiagobustamante :
(First it is not an issue, I could not find where I can put my comments, so I put it here.)
Like Spring in Java, Both of typescript-ioc &typescript-rest are excellent projects in Typescript,  I like them better compared with other DI framework and Ioc container for Typescript. :+1:

But for Interface, I found the section as below,
[code]
I understood the concern of typescri

[2017-07-14 12:51] thiagobustamante commented on #10
Hi @mamingzhi,

Thanks for your feedback! I tried for a long time to find a solution for this problem... I started to accept that it would not be solved as I expected (at least not before typescript team create some support for it), when I found that post:

[code]

The problem is that there is no information about interfaces at runtime. The typescript compiler removes any interface code during the

[2017-07-18 09:59] kozubikmichal opened #11 "@Provides in different file"
Hi,

I have issue using your IoC when the abstract class and providing class are in different files.

This is working just fine:

[code]

However when I split it into the 3 files I get the "**TypeError: this.foo.bar is not a function**" error:

index.ts:
[code]

IFoo.ts:
[code]

Foo.ts:
[code]

[2017-07-18 11:12] thiagobustamante commented on #11
Hi,

Thank for reporting. I'm out of home this week, on vacation with the kids. But I'll be back on the 25th and I promise to look at it as soon as I get home.

[2017-08-08 06:17] drwatson1 opened #12 "Container.bind doesn't work in IE"
... but works fine in Edge and Chrome.

I've created a repo to reproduce the problem here: https://github.com/drwatson1/typescript-ioc-example

If you'll try to open the example in IE you'll see these errors:

[code]

... and so on.

[2017-08-08 13:04] thiagobustamante commented on #12
Hi, I am compiling the source using ES5 and ES6 as output for typescript compiler. Depending on the IE version, it does not support ES5 yet. Which version of IE are you using?

I did not try to compile it to ES3 and don't know if there is a problem to generate an ES3 version, but we can try it

[2017-08-08 15:06] drwatson1 commented on #12
I'm using IE 11.
But as outlined [here ](http://kangax.github.io/compat-table/es5/#khtml-note) IE support ES5 from version 9.

IE9 has 83% functionality of ES5, IE10-11 - 99%.

I think It would be great to determine the exact reason of this behavior. May be there is another solution that can work in IE.

[2017-08-08 18:02] thiagobustamante commented on #11
I added a test case that reproduces the problem. I will take a look at it now

[2017-08-30 07:31] kozubikmichal commented on #11
Any progress?

[2017-09-06 17:25] thiagobustamante opened #13 "Change the value of an injected property is not working"
[code]

This test fail.

[2017-09-06 17:27] #11 closed

[2017-09-06 17:27] #13 closed

[2017-09-06 17:39] thiagobustamante commented on #11
The problem is that typescript-ioc does not scan any folder looking for classes. Your classes must be previously imported.

[code]
The above code would make it work.

So, I created another helper method that can help to include sources in the container context for those code that are not already referenced. (You only need to include things that are not already imported).

[code]

You need to confi

[2017-09-07 07:48] kozubikmichal commented on #11
Unfortunately I'm not able to get this work. I created a new project with the most actual version of typescript-ioc package and when I try to import ContainerConfig as described above, I'm getting ts error **Cannot find module 'typescript-ioc/container-config'**. I looked at the node_modules folder and the file is present but for some reason typescript cannot find it

![image](https://user-images.

[2017-09-07 20:29] thiagobustamante commented on #11
Sorry, I found an error in publishing the package. Please try again with version 1.0.2

[2017-09-11 06:51] kozubikmichal commented on #11
Still no success. My folder structure:

![image](https://user-images.githubusercontent.com/26189327/30261622-d12a6f7e-96cd-11e7-9ea7-edf1effcce50.png)

Foo.ts:

[code]

IFoo.ts:
[code]

index.ts:
[code]

tsconfig.json:
[code]

when I run **tsc && node dist/index.js** I'm getting this error:

![image](https://user-images.githubusercontent.com/26189327/30261740-4d00c1d4-96ce-11e7-968a-c9e53f4a016c.p

[2017-09-12 13:24] thiagobustamante commented on #11
I did not test this library with ```"target": "es3"```. Can you make a test compiling it to ES5?

[2017-09-14 12:42] kozubikmichal commented on #11
still the same issue with both ES5 and ES6

[2017-09-21 21:17] lakemalcom opened #14 "ES5 / ES6 dynamic require in index.js doesn't work with browserify"
I end up with: Uncaught Error: Cannot find module './es5'

If I change the output from:
module.exports = require(useES6 ? './es6' :  './es5');
to:
module.exports = require('./es5');

Then everything works fine.

[2017-10-11 16:37] nickhod opened #15 "Use of const breaks minifiers"
I really like typescript-ioc but currently the code uses "const". The Typescript compiler doesn't compile this to var. This means that for browser based projects, only >= IE 11 is supported.
I've also found that most Javascript minifiers break on the keyword const. (The popular VisualStudio Minifier & Bundler being one).

Currently I'm having to use my modified version of the library that removes

[2017-10-25 16:24] pklochkov commented on #15
@nickhod  I think you can use es5.js to solve your problem. Also if you compile code with typescript you can specify "target":"es2015" or lower in tsconfig.json

![image](https://user-images.githubusercontent.com/13065714/32010297-1b99b8da-b9ba-11e7-9b4f-c4c86dd511ae.png)

[2017-11-24 08:28] nolazybits opened #16 "Possibility to have a factory or bind an already created instance to a type?"
Just wondering if this is possible.
Couldn't find an example anywhere..
Thanks

[2017-11-29 01:04] westinpigott opened #17 "Allow for removing/reverting bindings"
When running unit tests, I force the binding for an interface to point to a mock implementation of it. (I override the normal annotation bindings.)  Other test suites, should use the default bindings.   The result is that the tests in the later suites are failing when run as a batch, but run fine when only the specific suite is run.
Is there a way to reset the bindings back to the way they were?

[2017-11-29 22:47] westinpigott commented on #16
Doesn't having an already instantiated object bound to a type defeat the purpose?  Just not sure on the use case.

If you want to do it, you can try something like this:  (Not tested)
[code]

[2017-12-07 22:40] romantymchenko commented on #14
I have the same issue, please tell where exactly you've changed that? I'm new in typescript

[2017-12-15 10:51] adamdry opened #19 "Invalid type requested to IoC container. Type is not defined. in node js app"
I have 2 simple classes and an index.ts entry script.

index.ts looks like this:
[code]

ConfigHelper looks like this:
[code]

FsAsyncFactory looks like this:
[code]

But when I run it I get an output of:
[code]

I have a public repo here if you'd like to try for yourself (use this specific commit): https://github.com/adamdry/node-di-mocha-test/commit/120475877fbc08af0ed436560ce4e735c4b450c4

To r

[2017-12-20 03:16] nolazybits commented on #16
Use case is when object creation is outside of my reach yet I want to be able to use it part of the DI.
Regards

[2018-01-03 22:51] tmorell opened #20 "Question about interfaces"
In the documentation you mentioned that interfaces cannot be used: https://github.com/thiagobustamante/typescript-ioc#a-note-about-classes-and-interfaces

I have not looked at the implementation details, but InversifyJS does allow using interfaces.

What is the key difference between the two frameworks?

[2018-01-05 08:29] dpanelli commented on #14
Is there a release planned with this?

[2018-01-19 16:18] #17 closed

[2018-01-19 16:36] thiagobustamante commented on #17
@westinpigott ,

Thanks for the contribution. You PR is merged and it is part of release 1.1.0.

[2018-01-19 17:10] thiagobustamante commented on #20
Hi,

The problem is that Interface is a concept that exists in Typescript, but not in Javascript. When the compilation occurs, no code is generated for any interface. They are used only for type checking by the compiler and no information remains about them in the generated javascript code.

All IoC tools suffers because of this problem. As you can see [here](https://github.com/Microsoft/TypeScrip

[2018-01-31 09:45] cfmano commented on #12
We have the same problem and were able to fix it locally. Can I create Pull request for this?

[2018-02-12 16:17] terehov opened #21 "Class constructor PersonRestProxy cannot be invoked without 'new'"
Hi!
I would really like to use your library, but I ran into weird errors like this one. Can you maybe give me a hint? thx!

[code]

[2018-02-12 19:07] thiagobustamante commented on #21
Hi,

Can you check if you are using ES6 as output for your code (check tsconfig.json file)?

If you are using ES6, you must follow [this](https://github.com/thiagobustamante/typescript-ioc#es6-output) instructions.

[2018-02-12 23:17] terehov commented on #21
Thank you for your quick reply.
I do follow this instructions. I am using it with ts-node, without “compilation”

[2018-02-14 07:24] terehov commented on #21
Ok, I got it working. Somehow the anchor did not open previously.
You were right, I had to add:
`import { Singleton, AutoWired, Inject, Container } from 'typescript-ioc/es6';`

Thanks!

[2018-02-14 07:24] #21 closed

[2018-02-14 10:53] #20 closed

[2018-03-04 09:47] bssergy opened #22 "Each type is auto bound"
Currently, if we didn't bind type, it will be bound on get method:
[code]
But I want to return undefined if I forgot to bind a class (i.e. for unit tests). Could you fix to don't use bind() method in get() method()? I don't want to bind if I need just get type.

[2018-03-08 04:15] nolazybits opened #23 "2 Files for abstract class (interface) and implementation result in error"
Hi there,

So I used to add abstract class and implemetation in the same file and everything was sweet..
Now if I try to separate the definition to the implementation it fails

eg

`afile.ts`
[code]

will work fine whereas
`ITest.ts`
[code]

`Test.ts`
[code]

will still work but the object is going to be an empty object `{}`

My guess is that nowhere in my code do I have a link to the Test.ts file

[2018-03-09 02:31] thiagobustamante commented on #14
Please, refer to [this](https://github.com/thiagobustamante/typescript-ioc#browser-usage) section in the documentation.

When using with browserify, webpack etc, you must import the library as:

[code]

or, if you are using es6 as output:

[code]

[2018-03-09 02:34] #14 closed

[2018-03-14 02:26] nolazybits commented on #23
Anyone can confirm or affirm what I have written please?

[2018-03-15 20:41] thiagobustamante commented on #23
Hi @nolazybits . Sorry for the late response.

The problem is that typescript-ioc does not scan any folder looking for classes. Your classes must be previously imported. I updated the documentation to explain better this point and to show how you can tell the Container where to find your classes.

Please, take a look at [this](https://github.com/thiagobustamante/typescript-ioc#registering-from-mul

[2018-03-15 20:41] #23 closed

[2018-03-15 21:05] thiagobustamante commented on #19
Hi @adamdry,

I tried your code, but it worked as expected here. No error occurred. I saw that the version declared in package.json was 1.0.2. When I run npm i, it installed the newest 1.1.1.

I don't know whats caused the error to you, but can you try again with this new version?

[2018-03-15 21:07] #15 closed

[2018-03-15 21:07] #16 closed

[2018-03-19 07:33] nolazybits opened #25 "get the type registered as provided"
Is it possible to expose the type provided like for instance
`Container.bind(PersonDAO).to(ManagerDAO);`
having a
`Container.getType(PersonDAO)` would return the ManagerDAO type.

The use case is for instance, i am using [class-transformer](https://github.com/typestack/class-transformer) which requires the type needed when you want to create a object from plain json.

[2018-03-25 20:37] nolazybits commented on #23
Thank you much for the extra doc.
I have used the bind method but will look into the addSource.
Thanks again :+1:

[2018-03-28 21:14] nolazybits commented on #25
I have added a PR here
https://github.com/thiagobustamante/typescript-ioc/pull/26

Thanks :)

[2018-03-28 22:09] thiagobustamante commented on #25
Thanks!

[2018-03-28 22:09] #25 closed

[2018-03-29 15:11] Morcatko opened #27 "Search for config file does not work on windows"
Hello,
I just installed v1.2.0 and my app does not start.
After some debugging I found a culprit in this commit - https://github.com/thiagobustamante/typescript-ioc/commit/3f0a3521c14d424bc594e93f8a652c61a2fe2d1f

It stucks in infite loop because `configFile === ROOT` never happens.

the ROOT is `\ioc.config`, but the configFile on windows ends up as `C:\ioc.config`

PS: Great work with typescript

[2018-03-29 15:31] #27 closed

[2018-03-29 15:34] thiagobustamante commented on #27
Thanks for reporting!

Already published a new version to fix it. Please, try again with 1.2.1 version

[2018-03-29 15:47] Morcatko commented on #27
That was super-fast. Works great. Thanks

[2018-03-30 21:23] julianosam opened #28 "Multi-injection support"
Hey guys! I am heavily using this library in one of my projects, and just ran into an real good use case for multi-injection support. More specifically, I want to to something like (pseudo code):

[code]

1. Just to make sure, is there some way to achieve this today that I am missing?
2. If not, do you guys think it would be a good feature to add?

Let me know your thoughts!

[2018-04-01 07:05] nolazybits opened #30 "Error thrown when trying to getType() of a unregistered type"
[code]

[2018-04-02 13:14] #30 closed

[2018-04-02 13:40] thiagobustamante commented on #28
Hi @julianosam ,

It is not possible with the current version, but I like the idea. We can think something to next release

[2018-04-02 13:44] thiagobustamante commented on #22
I think we can create some configuration option to the Container to enable this behavior you want. I can not just change it because it would break a lot of code. In addition, auto bind is a nice feature that can reduce the configuration in many cases.

[2018-04-02 13:50] #12 closed

[2018-04-09 23:42] nolazybits opened #32 "Per Request singletons"
for instance use case could be to get the logged in user and save it in a singleton fo the current request. So the dev can just inject the user object and knows it will have the current logged in user.

Look into inRequestScope from InversifyJS

[2018-04-18 10:37] fmavdb opened #33 "Webworker support"
When using typescript-ioc in a webworker, the following error occurs:
`index.js?40f3:11 Uncaught TypeError: fs_1.existsSync is not a function`

The isBrowser() check is correct, because a webworker doesn't has a renderer or window object. But it isn't a Node.js environment either.

I manually fixed it by using the following:

I can create a pull request for this, but it's just a trivial change.

[2018-04-19 20:25] #33 closed

[2018-04-26 14:00] N0ps32 opened #34 "Can not instantiate Singleton class - error when using uglifyJS mangle option"
If I try to pack my project with uglifyJS and allow it to mangle variable names the IOC container breaks:
`Uncaught TypeError: Can not instantiate Singleton class. Ask Container for it, using Container.get`

Is there any workaround for this except not mangling variables?
If I specify "mangle: false" the IOC container works as expected.

[2018-04-26 14:14] thiagobustamante commented on #34
Hi @N0ps32 ,

According to http://lisperator.net/uglifyjs/mangle, you should disable the uglify mangler if you need to access the Function.name property.

This library needs to use this property and it is not easy to change it.

I think that the best solution now is to disable the mangle property. I will search for another solution.

[]s

[2018-04-29 11:41] adamdry commented on #19
Thanks, this is indeed now fixed! :+1:

[2018-04-29 11:41] #19 closed

[2018-04-29 11:47] adamdry opened #35 "Should I not be using interfaces at all?"
In the [README.MD](https://github.com/thiagobustamante/typescript-ioc/blob/master/README.md) there is a section called `A note about classes and interfaces` which as far as I can tell basically says don't use interfaces, instead use abstract classes with abstract properties/functions.

I just want to clarify that that is the best practise when using typescript-ioc? I.e. I shouldn't have any interf

[2018-07-10 13:57] wack17s opened #37 "decorators order issue"
I use this lib with React Native and just faced very strange issue with release version of IOS. (in ios debug and android all works good).

i had next code:
[code]
to provide config in class constructor and i got next issue:
[code]

I had just to change order of decorators to fix it:
[code]
works as expected.

Also, my tsconfig, may be something wrong here:
[code]

[2018-07-31 22:21] nerder opened #38 "Example of testing?"
Can you provide examples of how i can Mock dependency that i `@Inject` into other classes?

[2018-08-20 08:38] mtrefzer opened #40 "just a typo"
Perhaps you should refactor the `class InjectorHanlder` to `class InjectorHandler` just to fix the Typo :)
By the way amazing lean DI. I give it a try in my next Project.

Cheers Michael

[2018-08-30 12:51] jurajsipos opened #41 "Async provider"
Hey guys,

is there any support for async providers / resolving dependencies asynchronously?

Example:
[code]

Many thanks
Juraj

[2018-09-05 01:46] rainmanhhh opened #42 "Could not find a declaration file for module 'typescript-ioc/es5'"
import {Inject, AutoWired} from 'typescript-ioc/es5'

webstorm report error:
TS7016: Could not find a declaration file for module 'typescript-ioc/es5'

[2018-09-05 21:01] cosmoKenney commented on #41
I'm wondering the same thing. I'd like to use webpack import() to lazy load chunks of my application. So that when a user hits a top-level route (this is a SPA app) for the first time I can lazy load the chunk the start displaying the components.

[2018-09-12 20:26] doronguttman commented on #28
I had the same requirement and found a workaround:
[code]

[code]

[code]

[code]

[code]

[2018-09-18 13:31] castorw opened #43 "Shared container across packages"
Hello there,

I am struggling with sharing a container between multiple node packages. I need a package, which is a dependency to the launched package, to register its own singleton services. Then the launched package may register its own services while still being able to use the services registered by the dependency package. Imaging a situation in which we have a **core package** and an **applic

[2018-09-19 13:06] castorw commented on #43
Okay, used brain for a bit and found a solution:

Created a folder named **ioc** in the **core package**, put an index.js file inside containing:
[code]

Then in my **application package** I use:
[code]

instead of

[code]

So closing this.

[2018-09-19 13:06] #43 closed

[2018-10-31 18:51] soleshot commented on #42
I had the same issue; ended up leaving the import statement alone to make typescript happy

`import {Inject, AutoWired} from 'typescript-ioc'`

and then adding an alias to your resolver (i.e. webpack config resolve alias for me)
`resolve: {
        alias: {
            "typescript-ioc": path.resolve("node_modules/typescript-ioc/es5.js")
        }
    }`

[2018-11-15 21:38] med-qh opened #44 "Handling connection errors"
Hi, Basically we are using the Hyperledger client to build our application and we are working on a rest api interfacing with the chain.

I have a class called HyperledgerChainClient which inherits BusinessNetworkConnection (a class provided by hyperledger) i need it to be instantiated and connected when my server starts, so my connection will always be the same.
my class looks like this
[code]

To

[2018-12-10 14:27] pvieira91 opened #45 "Set constants"
Is there a way to set constants to container?

For example
const config:IConfig = {
  connectionString: "xpto"
};

Container.bind(config).provider(config).

[2019-02-25 22:15] Clowning commented on #38
It's a very good idea!

[2019-03-14 19:35] cosmoKenney opened #48 "Example of how to use scopes?"
I'm using typescript-ioc in a SPA app. And one of my parent views has data that needs be shown by a child view. What I want to achieve is during the lifetime of the parent view, all child views get the same instance of this data object. But when the parent view is destroyed I need the data object to be removed from DI. That way when the user again navigates to the parent view, there will be a new/

[2019-05-07 17:58] jinsankim opened #49 "What case is meaningful for @AutoWired except @Singleton?"
Please could you explain or show a case why @AutoWired is meaningful except @Singleton?

[2019-05-10 13:51] shatodj opened #50 "Not working on React native"
I'm not able to build my react-native app using this awesome module. I have this error inside metro bundler:

[code]

my packages:

[code]

[2019-05-29 18:36] jamespedid opened #51 "Cannot overwrite binding with sinon stub"
I have a class with an injected property

[code]

Inside of my mocha test I have the following:

[code]

[code]

How can I get this to work?

[2019-05-30 15:23] jamespedid commented on #51
After further investigation I think the problem exists beyond the library.

[2019-05-30 15:23] #51 closed

[2019-06-19 16:05] fabiobeoni commented on #37
I have a similar issue, the `@Provides(MyAbstractClass)` doesn't work:

Following the documentation: https://github.com/thiagobustamante/typescript-ioc#a-note-about-classes-and-interfaces

// My abstract class
`export abstract class IMachineSrv {}`

// My concrete class
`
@Provides(IMachineSrv)
export class MbMachineSrv implements IMachineSrv {}
`

//My client consuming the concrete one
`
@Inject

[2019-07-29 00:30] DGrudzynskyi commented on #49
It feels like this is a perfect place for handling parameters-injection-at-rest, hovewer it doesn't looks like at this moment autowired is doing anything like this (unless i am missing something).

What i means is handling of the scenario below by passing PersonDAO from container
[code]

[2019-08-04 06:09] HarelM commented on #28
Any updates on this?
While the given workaround will achieve the required behavior I think it should work out of the box for a dependency injection container. I have yet to work with an ioc container that doesn't support this feature.
This usually comes with a "named" injection - i.e something like the following:
[code]

Below is an example (described in a test) of the unity container behavior wit

[2019-08-21 13:03] Bielik20 commented on #50
I got the same with simple js app.
It decided whether to use es5 or es6 by checking if `this === window`, then check if it is es6 with `process.env.ES6 === 'true'`. Both those checks fail so it assumes it is a node app and does that:

[code]

This breaks the app. I feel like the way it is exported should be changed, maybe using `package.json` fields like `module` etc.

[2019-09-30 20:02] mreiche opened #53 "Webpack transpiler error with UglifyJsPlugin"
`webpack.conf.js`
[code]

and `webpack --mode=production`
fails with
[code]

Removing the plugin works well.

[2019-10-01 11:00] mreiche commented on #53
You have to migrate to `terser-webpack-plugin` to get es6 support to work.

[2019-10-01 11:00] #53 closed

[2019-10-07 21:02] theanurin commented on #19
I met same error message when missing `emitDecoratorMetadata: true` in my tsconfig.json ("version": "1.2.5")
[code]
I think(proposal) this case should be detected in runtime with a warning message.
@adamdry if you you agree with my proposal let me know and I will return with a merge request...

[2019-10-10 20:04] seiyria opened #54 ""TypeError: Invalid type requested to IoC container. Type is not defined." - improve error message?"
Been using this library for a while, and it's pretty great compared to the other IoC libraries I've seen. My only major problem is this error - I never have any idea what it's trying to inject and failing to inject. Can this error message be improved so I can track down what it's trying to inject, so I can actually fix it instead of guessing randomly?

[2020-01-23 13:15] Bielik20 commented on #45
We have just added symbol injection support to our library at wikia: https://github.com/Wikia/dependency-injection-js

It assumes different approach from this library, but was inspired by it.

You can do something like:

[code]

[2020-01-23 13:16] Bielik20 commented on #50
As we had this (and other) issues with that library at Wikia, so we created our own, it is heavily inspired by this one but assumes different paradigm, and is built with web in mind: https://github.com/Wikia/dependency-injection-js

[2020-01-23 13:16] Bielik20 commented on #42
As we had this (and other) issues with that library at Wikia, so we created our own, it is heavily inspired by this one but assumes different paradigm, and is built with web in mind: https://github.com/Wikia/dependency-injection-js

[2020-02-26 03:01] thiagobustamante commented on #50
Fixed in version 3

[2020-02-26 03:01] #50 closed

[2020-02-26 03:09] thiagobustamante commented on #49
AutoWired replaces the original class constructor to avoid that new instances are created directly through the class constructor (without call the ioc container). I believe that it only makes sense if the scope used to manage the instances is diferent from Scope.Local. The library only includes the Local and Singleton scopes, but is possible to use a custom scope. An express application, for examp

[2020-02-26 03:09] #49 closed

[2020-02-26 03:11] thiagobustamante commented on #48
It is not supported in the current version, but I am working to support it in version 3.

The current version only offer Local and Singleton scopes

[2020-02-26 03:20] thiagobustamante commented on #44
The problem is that you are trying to make an async injection to the container and it is not supported by this library

The container has a sync interface when you try to retrieve an instance:

[code]

[2020-02-26 03:20] #44 closed

[2020-02-26 11:18] thiagobustamante commented on #54
I totally agree that this message is not good. But I just don't know how to give more information.

The only place where this error is raised is:

[code]
And checkType is called when you are trying to bind a new class to the container:
- Container.bind(),
- Container.to()

So, this message occurs if you call Container.bind or Container.to passing a null or undefined type.
We don't have more inform

[2020-02-26 11:33] thiagobustamante commented on #40
done! Thanks

[2020-02-26 11:33] #40 closed

[2020-02-26 11:41] thiagobustamante commented on #35
I like interfaces very much too. But the problem is that typescript interfaces does not provide any runtime information to be used as key for a Container resolution.

Other frameworks, like Inversify, supports interfaces through an additional information (discussed in #20 ), but we choose to not follow this approach.

Resuming, you can use interfaces on your code, but you will not be able to bind

[2020-02-26 11:41] #35 closed

[2020-02-26 11:42] thiagobustamante commented on #32
I am working on it to the version 3 of this library

[2020-02-26 15:32] #32 closed

[2020-02-26 16:48] #38 closed

[2020-02-26 16:51] thiagobustamante commented on #38
I added some examples in the readme. Please take a look [here](https://github.com/thiagobustamante/typescript-ioc#using-container-for-testing)

[2020-02-26 16:55] thiagobustamante commented on #42
After version 2, this library does not support es5 anymore, so we don't have this kind of imports

[2020-02-26 16:55] #42 closed

[2020-02-26 16:59] thiagobustamante commented on #48
Hi @cosmoKenney,
I think that the new ```@InRequestScope``` can solve your problem. You can configure all the dependents components in requestScope and inject them in the parent view. It will be released in version 3. But the code is already commited in the repository and you can try it directly through the git source, if you want to test it right now

[2020-02-26 17:00] #34 closed

[2020-02-26 17:53] cosmoKenney commented on #48
Thanks for such a great library! We can close this as I just decided to cache the data instead.

[2020-02-26 17:53] #48 closed

[2020-02-28 09:03] Kampfmoehre opened #57 "Export Snapshot in index"
Hello,

we use your library in our backends and we like it very much. I just updated to the new 3.0 version and bumped across your Snapshot change. For our unit tests, it would be handy if the Snapshot type would directly be exported by your library.

Right now we must write our tests like this:
[code]

For convenience it would be cool, if we don't have to import the Snapshot from the dist directo

[2020-02-28 19:43] #57 closed

[2020-02-28 20:26] sasha-borodin opened #58 "Recursive container instantiation of OnlyInstantiableByContainer classes fails"
**Affected version:** 3.0.3
**Error:** `TypeError: Can not instantiate it. The instantiation is blocked for this class. Ask Container for it, using Container.get`

Some properties are injected without any problems.  But injection fails for classes that themselves have injected properties whose types are decorated with `@OnlyInstantiableByContainer`.  Thus, it would seem that **recursive** containe

[2020-02-28 22:26] iursinoliveperson opened #59 "Property X is used before it is assigned."
In the following code (tsoa framework)
[code]

I get Property 'dependencies' has no initializer and is not definitely assigned in the constructor, and Property 'dependencies' is used before being assigned errors.

How is this form of dependency injection meant to work in typescript?

[2020-02-29 11:34] thiagobustamante commented on #57
Hi @Kampfmoehre ,

Both of your feedbacks makes sense. The Snapshot was Fixed in 3.0.4 version

[2020-02-29 11:36] Kampfmoehre commented on #57
@thiagobustamante Thank you very much, I will check it out next monday.

[2020-02-29 12:23] thiagobustamante commented on #58
Hi, @sasha-borodin ,

Thanks for reporting it. I could not reproduce it here. Can you please provide me the code of your classes for debug purpose ?

Thanks

[2020-02-29 12:35] thiagobustamante commented on #58
@sasha-borodin ,

I added some tests, but could not reproduce. Take a look at this [commit](https://github.com/thiagobustamante/typescript-ioc/commit/35c13dadb774b8a64bfacaacca0b9475d302f7f1). Can you help me to create an example of the problem?

[2020-02-29 12:50] thiagobustamante commented on #59
This code is not valid in typescript. If you try to compile the above code, even removing all the decorators, you will receive an error from typescript compiler:

[code]
Raises an error, because this can not pe referenced here.

What you could to is write:

[code]

or

[code]

[2020-02-29 12:50] #59 closed

[2020-02-29 19:03] sasha-borodin commented on #58
@thiagobustamante  - I'm working on an MRE at the moment, and will supply it shortly.

In the meantime, I believe that this issue can be further narrowed down to recursive instantiation involving types with a `constructor()` that gets instrumented by `typescript-ioc`.

[2020-02-29 20:29] sasha-borodin commented on #58
@thiagobustamante , please see below for an MRE:

[code]

The key ingredients are:
1. instantiation of a `@OnlyInstantiableByContainer` class
2. that class has a `constructor()` function (that gets instrumented by `typescript-ioc`)
3. Container performs other "recursive" instantiation _in that constructor function_.

If any of the the above doesn't hold true, the issue will NOT be seen.

Please le

[2020-03-02 10:21] Kampfmoehre commented on #54
We have a case here, where this error is not helpful at all.

We have a common base project which some of our other projects get via NPM. This project defines a BaseClass that gets some services via typescript-ioc and a Wrapper that initializes this class. The wrapper receives the base class via injection. Now in the downstream projects we extend from that base class and set our container configur

[2020-03-03 04:35] #58 closed

[2020-03-03 04:37] thiagobustamante commented on #58
Thanks @sasha-borodin .

[2020-03-04 19:35] robertnisipeanu opened #60 "How to use singleton scope"
So I tried following the getting started from NPM however, i stumbled across this problem: when using `new ClassName()` when that class has the `@Singleton` decorator, it still calls the  constructor of that class every time I call `new ClassName()`, it'll only call once if I use `Container.get(ClassName)`.

Example:
[code]

Will print the following:
[code]
While this:
[code]

Would print this:
[c

[2020-03-05 09:37] Kampfmoehre commented on #60
When you call the constructor directly, you circumvent the IOC framework. Take a look at the [Readme section](https://github.com/thiagobustamante/typescript-ioc#the-onlyinstantiablebycontainer-annotation) which explains how to prevent direct constructor calls for Singletons.

I think the better code for your use case would be to inject the Singleton dependency:
[code]

This way the IOC framework a

[2020-03-06 16:57] #60 closed

[2020-03-07 13:15] thiagobustamante commented on #58
Published in npm. Release 3.0.5

[2020-03-08 11:53] #45 closed

[2020-03-08 15:02] thiagobustamante commented on #45
Hi @pvieira91 . It is finally available.

I documented how to use it [here](https://github.com/thiagobustamante/typescript-ioc#injectvalue-decorator-and-constants).

[2020-03-11 07:51] JanNemcik commented on #28
any intentions to implement this?

[2020-03-11 08:04] JanNemcik commented on #54
If you are using the library in your base project you have to reexport it and import in your downstream project. The problem importing in both projects from typescript-ioc is, that there two containers created, one for each project. We laso faced this issue and solution was creating a 'fake' path infrastructure ioc in base module which only reexports: export * from 'typescript-ioc' and then you sh

[2020-03-11 08:08] Kampfmoehre commented on #54
Yes I fixed some other problems by moving typescript-ioc from dependency to peer-dependency in the base project. But the problem with injecting a class that is extended in the downstream project remains.
I think the BaseApp class that I configure in the extended project is somehow not the same BaseApp class in the transpiled JavaScript in the node_modules/base-package.

[2020-03-11 11:42] JanNemcik opened #61 "CHANGELOG"
could you please create and update changelog for the releases? Would be really helpfull

[2020-03-25 14:34] jepetko opened #62 "Dependency injection does not work for instances provided by a linked library (npm link)"
DI does not work for libraries which are linked locally via `npm link some-lib`.

classes provided by  `some-lib`:

* class A:
[code]

* class B:
[code]

usage in `some-app` whereas the library is used as a linked library (`npm link some-lib`):

**IMPORTANT: note that the behavior is the same no matter whether the alias is used or not (also see https://github.com/jepetko/some-app/commit/d658f49542

[2020-04-05 22:00] jepetko commented on #62
This issue is related to the way how `npm` resolves the modules. In this case, decorators placed in the lib (for `B` and `A`) are referring stuff from `some-lib\node_modules\typescript-ioc`. However, `some-app` is using `node_modules\typescript-ioc`. Those two DI containers don't know anything about each other and thus `A` cannot be injected into `B`.

One possible solution for a reasonable local

[2020-04-06 08:16] jepetko commented on #62
So here are the options:

*Option A:*

1. in `some-lib`: put `typescript-ioc` as devDependency (and ambientDependency)
2. link `some-lib` with `npm link --only=production`

the drawback is that `node_modules` must not contained development dependencies which is not feasible as you need devDependencies for further development of the library.

*Option B:*

provide a script which does the following:

[2020-04-06 08:16] #62 closed

[2020-04-06 18:17] rafaferry opened #63 "@InRequestScope not returning the same Instance"
I'm using typescript-ioc on server side with nodejs and express, and trying to create an object that holds de logged user, that I should be able to access it in any place on my application.
To do so, i've created the following class:

[code]

And i've created an express middleware that would extract the logged user from request, and fill it in LoggedInUserService. But it seems that In the same req

[2020-04-06 19:05] rafaferry commented on #63
Navigating through the types docs, i think i've misunderstood the Request Scope.

I need an HTTP Request scope, but its not clear to me how could I create such scope with the framework. Is it even possible?

I think I would have to create a Build context per HttpRequest, and that it should be in a express middleware function.

Do you have any tips for this?

[2020-04-16 11:55] pballester commented on #63
Same problem here, any help?

Thanks!

[2020-04-21 12:42] davidbayo10 opened #64 "Async Factory"
Hi all! I want to perform this factory class behaviour, but when I call `new S()`, a promise is returned. Do I do something wrong? May this feature is not present for being used as factory?

[code]

Thank you all in advance!

[2020-04-27 16:18] aelayeb opened #65 "@InjectValue annotation is not correctly exported"
I wanted to use the @InjectValue annotation like in the documentation, but is was not exported at the module level like with @Inject and other annotations.
So currently I must import it from 'typescript-ioc/dist/decorators' but I don't think it's the intended way.

[2020-04-28 10:05] fingercoder commented on #65
I also meet it

[2020-05-01 03:48] #65 closed

[2020-05-01 03:56] thiagobustamante commented on #65
Fixed in release 3.2.2

[2020-05-16 08:58] minawalphonce opened #67 "Generic Type not working"
I m trying to register a generic type

`Container.bind(Repository<Entity>)`

repository is an abstract class and holds multiple implementations for each entity.
I got an error

I tried factory but still cant do it
or there a way to do that ?

[2020-05-19 12:02] jhd-lego opened #68 "Invalid @Inject Decorator declaration on property"
I seem to be hitting an error when I am trying to inject a property on my class.

[code]

The injected value is bound, it is an abstract class, and it works perfectly fine if I force the Inject declaration to always go to the property declaration here https://github.com/thiagobustamante/typescript-ioc/blob/623a58abd16403f134e5556b83043123155b695d/src/decorators.ts#L149-L150
The issue seems to be t

[2020-06-05 07:26] Kampfmoehre commented on #67
I think the problem is, that the generic information does not exist at runtime, so in your js the entity information is missing and only repository part remains. What you need is a unique repository only for one entity that exists in JS and can therefore be injected anywhere.

We also struggle with integrating typeorm with typescript-ioc but found no good solution yet.

What works is the approach

[2020-06-22 16:32] rafaferry commented on #63
@pballester sorry for the very late response.

I did this using the new async_hook - AsyncLocalStorage api (node 13+), but I didn't integrate it with typescript-ioc.

The code is something like this:

[code]

[2020-08-03 13:51] InsOpDe commented on #64
Just had the same problem. You'll get a Promise if you use it like this. I solved it like this
[code]
Works for me because im in a async function while using await

[2020-08-13 23:19] dgocoder commented on #63
Would love to get this working as it just doesn't seem very straight forward. `@Singleton` works fine but `@InRequestScope` can't seem to get it to work.

[2020-08-18 10:24] koldoon opened #71 "Option to set Scope.Singleton by default"
Hi! I've got a suggestion of configuration parameter that tells Container to treat all the dependencies as Singletons.

The common pattern of IoC usage is to build application architecture. In this case most of Services and Controllers acts as singletons and just a few must be instantiated every time (btw, I think this is not a good option for using IoC container at all, but anyway).

So I would w

[2020-08-18 10:48] koldoon opened #72 "Option to have target instance or (at least) target class name in factory context"
I've got a proposal to include target instance (which I suppose is not possible since there isn't async resolution logic yet) or target Class (Type) name (I mean, `TargetClass.constructor.name` or even `TargetClass.constructor`) in factory binder context.

One of the most popular commonly used dependency is Logger, but the logger often include extra params, like Category or Module Name, that descr

[2020-08-28 16:14] fabiocavalcantezup opened #73 "Help with Container instance"
Hi,

Can someone help me to solve a problem. Im using typescript-ioc in 2 modules and module B dependes on module A. The problem is, somehow the Container instance used in each library seems to be different (which makes sense).

My question is, there anyway to share Container instance between two libraries?

Thanks in advance

Edit: I already solved by exporting the instance of Container from A to

[2020-09-14 16:58] XaeroDegreaz opened #75 "Constructor injection with inheritance not working as expected"
`"typescript-ioc": "^3.2.2"`

[code]
I've tried several variations of the constructor including a simple `@Inject connectionManager: ConnectionManager` to no avail. I've also tried field injection, and that didn't work, but I suspect that information wouldn't be available in the constructor anyhow.

If I add a constructor in `TileRepository` and `@Inject` the `ConnectionManager`, then pass it to `

[2020-11-09 17:17] ASafaeirad opened #76 "ContainerConfiguration.factory not working as expected"
Hi there,
factory option in `Container.configure` not working as expected.

[code]

for more investigation you can take a look at this [sandbox](https://codesandbox.io/s/typescript-ioc-bug-report-464p5?file=/src/index.ts).

[2020-11-09 17:29] ASafaeirad commented on #76
Sorry, my fault.
I should not use `to` and `factory` at the same time.

[2020-11-09 17:29] #76 closed, assigned to nobody

[2020-11-30 17:49] aopanasenko commented on #68
The same issue

[2021-01-10 20:42] dustinlacewell commented on #28
Aw, just ran into this.

[2021-01-14 01:44] davidmoshal opened #77 "TypeError: Invalid type requested to IoC container. Type is not defined."
Nice library, works great with VueJS components, but fails when the components is wrapped and mounted for testing!

ie: Given a service, a main.ts and an App.vue component, everything works fine:
- service.ts
[code]
- main.ts
[code]
- App.vue
[code]

However a test which wraps the App component fails:
[code]
Error message is:  TypeError: Invalid type requested to IoC container. Type is not defined

[2021-01-15 14:29] jlurbe commented on #75
Almost the same here. Same version of typescript-ioc.

[code]

[2021-01-31 06:06] rainmanhhh opened #78 "Since it doesn't support es5, how do I check compatibility for a specified version of browser?"
for example, with browserslist-useragent-regexp, what pattern should I use to test browser agent?

[2021-02-02 13:00] TheOnlyMrFlow commented on #64
Any update on this ?

[2021-02-02 13:03] davidbayo10 commented on #64
I prefer to use @Inject into property classes

[2021-02-02 13:05] davidbayo10 commented on #64
I think this repo is not maintained...

[2021-03-23 04:28] davidmoshal opened #80 "hot reloading"
Hi, thanks for a great library!

Question: what's the recommended way of passing container objects through webpack's hot-reloading, eg with vuejs?

[2021-07-02 14:15] tripodsgames commented on #64
I'm using [async-injection](https://github.com/pcafstockf/async-injection) instead of this one.

[2021-07-13 17:24] danielgelling commented on #68
Same issue here 😞 . Any solutions/workarounds?

[2021-08-21 09:28] InsOpDe commented on #77
Im experiencing the same issues.

I just switched from `ts-jest` transformer to `esbuild-runner/jest` or `@swc-node/jest`.

Before I switched everything worked fine, but after the switch these errors popped up for every `typescript-ioc` related call.

I noticed that other decorators were not working as well , for example I needed to adapt following decorator helper function:

from
[code]
to
[code]

[2021-08-21 10:15] InsOpDe commented on #68
Looks like youre not using `ts-node` (or `ts-jest`) to execute the code.

This could be related to https://github.com/evanw/esbuild/issues/412
and
https://github.com/thiagobustamante/typescript-ioc/issues/77

[2021-10-20 09:32] Kampfmoehre commented on #73
You must use the same typescript-ioc instance across libraries. In module A don't install typescript-ioc directly but via peer-dependencies and let module B instasll typescript-ioc. This way the same "instance" of Container is used.

[2022-03-15 20:30] Loksly opened #89 "Is this project no longer maintained?"
As far as I can see there seems no be no updates.
If no security updates will be provided should not be used for new projects?

If it needs funding ask for it.

Have a nice day.

[2022-03-19 08:25] danelowe opened #90 "Property Injection changed with recent Typescript versions."
I was just having a look into this library and came across an issue with recent Typescript (4.3.5)

TLDR - Property injection needs the `declare` keyword. (or `useDefineForClassFields`set to false in tsconfig)

[code]

I can look at submitting a PR for changing the readme if I get some time and look further into this library.

The issue is described well in the [Typescript 3.7 release notes](https

[2022-04-03 12:49] AvetisSargsian commented on #68
Hi,
I have the same issue, and I did some experiments.
@Inject is not working when the project is compiled with create-react-app  (babel...)
but if I use pure ts project created with webpack-cli (ts-loader) without babel it works fine.

I have also found some suggestions to add some bubel plugins such as:
"plugins": [
      "babel-plugin-transform-typescript-metadata",
      ["@babel/plugin-propos

[2022-10-25 16:23] SimoneGianni commented on #68
Documentation says that when injecting on a property 2 arguments are given, the class and the property name, and also explains why that is the case IN TYPESCRIPT:
https://www.typescriptlang.org/docs/handbook/decorators.html#property-decorators

However, it looks like other interpreters are able to pass also the third parameter. So, to support both cases, the check in decorators.ts line 149 should